{% extends "main.html" %}

{% block content %}

<br>
<div class="row ">
	<div class="col-md-12 text-center">
		<h3><i class="bi bi-people"></i> Clients : {{client_total}}</h3>
      
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url "ajouter_client" %}">Créer Un Client</a>
			<table class="table mx-auto">
				<tr>
					<th>ID</th>
					<th>Client</th>
					<th>Telephone</th>
					<th>Address</th>
					<th>Date</th>
					<th>Detail</th>
                    <th> Modifier</th>
                    <th>Supprimer</th>
				</tr>
			{% for client in clients %}
			<tr>
				<th>{{client.id}} </th>
				<th>{{client.nom}} </th>
				<th> {{client.telephone}}</th>
				<th>{{client.adresse}}</th>
				<th>{{client.date_time}}</th>

				<th> <a class='btn btn-sm btn-success'href="{% url "list_client" client.id %}"> Detail </a> </th>
                <th> <a class='btn btn-sm btn-warning' href="{% url "modifier_client" client.id %}">Modifier</a></th>
                <th> <a class='btn btn-sm btn-danger'  href="{% url "supprimer_client" client.id %}"><i class="bi bi-trash"></i> Supprimer </a></th>
			</tr>
			{% endfor %}

			</table>
		</div>
	</div>



</div>


{% endblock  %}
